<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets\splash.css">
    <meta charset="UTF-8">
    <title>Connect 4!</title>
</head>
<body>
<div>
    <div class="background_image"></div>
    <div id="statistics">
        <span>Number of current players: 2<br/></span>
        <span>Total number of games played by all users: 15<br/></span>
        <span>Total number of games played by you: <span id="gamesPlayedByPlayer"></span><br/></span>
        <span>Fastest game played: 0:57<br/></span>
        <span><b>WEBSITE STATS</b><br/></span>
    </div>
    <div id="title">
        <h1>CONNECT 4</h1>
        <h4>A CSE1500 game by Wouter Büthker en Daniël de Weerd</h4>
        <form action="/play" method="get">
            <button class="button">PLAY</button>
        </form>
    </div>
    <div id="info">
        <span id="rules">lick any column to drop a disc. <br/>
                         The first player who lines up four disks of his color <br/>
                         in a row (horizontally, vertically or diagonally) wins. <br/>
                         Good luck</span>
    </div>

</div>
<script src="javascripts\cookie.js"></script>
</body>
</html>