
:root {
  --boardsize: 50px;
  --margin: 2px;
}

body {
  padding: 50px;
  font: 40px "Segoe UI Semibold";
  color: white;
}

b {
  color: RED;
}

.circle {
  width: var(--boardsize);
  height: var(--boardsize);
  border-radius: 50%;
  background-color: WHITE;
  float: right;
  margin: 2px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.column {
  height: calc(6 * var(--boardsize) + 7 * 2 * var(--margin));
  width: var(--boardsize);
  opacity: 50%;
  float: left;
  padding: 2px;
}

#columns {
  position: absolute;
  width: calc(7 * var(--boardsize) + 7 * 2 * var(--margin));
  height: calc(6 * var(--boardsize) + 6 * 2 * var(--margin));

  top: 0;
}

.column:hover {
  background-color: red;
}

#board {
  width: calc(7 * var(--boardsize) + 7 * 2 * var(--margin));
  height: calc(6 * var(--boardsize) + 6 * 2 * var(--margin));
  background-color: #011627;
  padding: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#info {
  font: 20px "Segoe UI Light";
  position: relative;
  bottom: 338px;
  left: calc(7 * var(--boardsize) + 7 * 2 * var(--margin) );

}

#input-field{
  font: 20px "Segoe UI Light";
}

input{
  font: 20px "Segoe UI Light";
}


#win-background {
  width: calc(7 * var(--boardsize) + 7 * 2 * var(--margin));
  height: calc(3 * var(--boardsize) + 6 * 2 * var(--margin));
  background-color: transparent;
  padding: 0px;
  position: relative;
  bottom: 260px;
  left: 10px;
}

.background_image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background-color: #89D2DC;
  background-image: url("background.jpg");
  transform: scale(1.2);
}
