
:root {
  --boardsize: 50px;
  --margin: 2px;
}

body {
  padding: 50px;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
}

b {
  color: RED;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  float: right;
  margin: 2px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

#board {
  width: calc(7 * var(--boardsize) + 7 * 2 * var(--margin));
  height: calc(6 * var(--boardsize) + 6 * 2 * var(--margin));
  background-color: blue;
  padding: 10px;
}
